<p id="newtake">A new take on journalism</p>
<p id="invite">To request an invitation when Printless launches and to get email updates, enter your email in below.</p>

<%= render 'form' %>

	<div class="links">
			<div id="contact">Contact:  hello@theprintless.com</div>
			<a id="twitter" href="https://twitter.com/#!/thePrintless"></a>
				<a id="fb" href="https://www.facebook.com"></a>
	</div>