<tr>
  <td class="articles">
    <span class="title"><%= article.title %></span>
    <span class="content"><%= article.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(article.created_at) %> ago.
    </span>
  </td>
</tr>