#<ul>
#	<% if current_user.id == @article.user_id %>
#	<li><%= link_to "Edit Article", edit_article_path %></li>
	<li><%= link_to "Delete Article", article_path %></li>
	<% end %>
<ul>
	
<table class="show-article">
	
	<%= render '/articles/article' %>

</table>