<ul>
	<% if current_user.id == @project.user_id %>
	<li><%= link_to "Edit Project", edit_project_path %></li>
	<li><%= #doesnt work#
	link_to "Delete Project", project_path, via: :delete %></li>
	<% end %>
<ul>
	
<table class="show-project">
	
	<%= render '/projects/project' %>

</table>