body {
    font-family: 'Questrial', Helvetica, Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color:#999;
}


body a {color:#999; text-decoration:none}
body a:link {color:#999; text-decoration:none;}
body a:visted {color:#333; text-decoration:none;}
body a:hover {color:#B20606; text-decoration:none;}
body a:active {color:#000; text-decoration:none;}

.header {
    background: url('pllogolong2.png') no-repeat;
    background-position:center;
    position:relative;
    top:-20px;
    width:100%;
    height:120px;
    right:0px;
}

.content {
    position:relative;
    width:700px;
    height:350px;
    margin-left:auto;
    margin-right:auto;
    padding-top:0px;
    text-align:center;
    
}

#invitation_list_email {    
    width:200px;
    height:20px;
    display:block;
    position:absolute;
    left:102px;
    background-color:#EFEFEF;
    border-style:none;
}
#invitation_list_email:focus {
    background-color:white;
    outline: none;
    border:solid 1px #000;
}

#submit {
    display:block;
    position:relative;
    left:332px;
    border:solid 1px #CCC;
    background-color:#FFF;
    font-size:1em;
    margin-top:0px;
    color:#666;
}

#submit:active {
    background-color:#CCC;
}

#contact {
    position:absolute;
    text-align:right;
    bottom:10px;
    left:50px;
}



.container {
    margin-top:50px;
    padding-top:20px;
    padding-bottom:70px;

}


.journalist {
    display:block;
    position:relative;
    margin-left:-56px;
    left:0px;
    height:50px;
    width:500px;
    margin-bottom:0px;
    font-size:.8em;
}

#q {
    display:block;
    float:left;
    margin-right:105px;
    margin-left:102px;
}
#yes {
display:block;
float:left;
margin-top:9px;
margin-left:10px
}

#no {
display:block;
float:left;
margin-top:9px;
margin-left:10px
}

.emailcont {
    position:relative;
    display:block;
    width:500px;
    clear:left;
    margin-left:-56px;
}


#newtake {
    font-size:1.25em;
    margin-bottom:30px;
    margin-top:10px;
    text-decoration:none;
    margin-left:45px;
    text-align:left;
    color:#333;
}

#invite {
    font-style: italics;
    font-size:1em;
    margin-top:40px;
    margin-bottom:50px;
    text-align:left;
    margin-left:45px;
    margin-right:50px;
}

#journalism {
    font-size:1em;
    color:#333;
}
#twitter {
    display:block;
    position:absolute;
    right:80px;
    bottom:10px;
    width:25px;
    height:25px;
    background: url('twitter_dualbw.png') left;
    text-indent:-99999px;
    border-radius:5px;
    -moz-border-radius:5px;
}

#twitter:hover {
    background-position: right;
}

#fb {
    display:block;
    position:absolute;
    right:110px;
    bottom:10px;
    margin-left:10px;
    width:25px;
    height:25px;
    background: url('fb_dualbw.png') left;
    text-indent:-99999px;
    border-radius:5px;
    -moz-border-radius:5px;
}
#fb:hover {
    background-position: right;
}