// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: 'Questrial', Helvetica, Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color:#3F3F3F;
    margin:0px;
}
    body a {color:#3F3F3F; text-decoration:none}
    body a:link {color:#3F3F3F; text-decoration:none;}
    body a:visted {color:#333; text-decoration:none;}
    body a:hover {color:#B20606; text-decoration:none;}
    body a:active {color:#000; text-decoration:none;}

ul {
    list-style-type:none;
}

.container {
    width:960px;
    top:-40px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position:relative;
}

.outercontainer {
    display:block;
    width:960px;
    left:50%;
    top:-10px;
    margin-left:-480px;
    position:fixed;
    -moz-box-shadow:    0px 0px 7px 4px #ccc;
    -webkit-box-shadow: 0px 0px 7px 4px #ccc;
    box-shadow:         0px 0px 7px 4px #ccc;

}
    .header1 {
      display: block;
      position: relative;
      height: 110px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;

     }
        .logo {
          display: block;
          position: absolute;
          left: 0px;
          top: 45px;
         }
        #twitter {
          display: block;
          position: absolute;
          right: 0px;
          top: 30px;
          width: 25px;
          height: 25px;
          background: url("twitter_dualbw.png") left;
          text-indent: -99999px;
          border-radius: 5px;
          -moz-border-radius: 5px;
        }
            #twitter:hover {
                background-position: right;
            }
        #fb {
          display: block;
          position: absolute;
          right: 35px;
          top: 30px;
          margin-left: 10px;
          width: 25px;
          height: 25px;
          background: url("fb_dualbw.png") left;
          text-indent: -99999px;
          border-radius: 5px;
          -moz-border-radius: 5px;
        }
            #fb:hover {
              background-position: right;
            }
    #navsection {
      display: block;
      height: 35px;
      position:relative;
      top:-35px;
      margin-left:195px;
    }
        #nav {
            height:35px;
            margin:0px;
        }
        #nav li {
          display: block;
          position:relative;
          width:153px;
          height:35px;
          margin-left: -20px;
          margin-right: -20px;
          float: left;
          padding-top:12px;
          text-align:center;
          background:url("tabtry.png") no-repeat;
          font-size:.83em;
        }
        #tab2, #tab3, #tab4, #tab5, #tab6 {
            z-index:0;
        }
        #tab2:hover, #tab3:hover, #tab4:hover, #tab5:hover, #tab6:hover {
            z-index:999;
        }
        #tab1 {
            z-index:999;
        }

.content {
    display:block;
    position:relative;
    width:97.5%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    margin-top:-36px;
    padding-top:20px;
    z-index:555;
    background: url("topcontent.png") no-repeat;
}
    #topcontent {
        display:block;
        position:relative;
    }
        .profileinfo {
            display:block;
            position:relative;
            width:97.5%;
            height:255px;
            margin:30px auto 20px auto;
            padding:0px;
            top:-15px;
        }
            .profileinfo h1{
                display:block;
                font-size:2em;
                width:688px;
                border-bottom:solid 1px #999;
                padding-left:224px;
            }
            .profilepict {
                position:absolute;
                left:8px;
                top:60px;
                
            }
            .about {
                position:absolute;
                left:183px;
                top:60px;
                width:400px;
                height:100px;
            }
                .aboutword {
                    height:45px;
                    width:175px;
                    display:block;
                    text-align:center;
                    position:absolute;
                    top:60px;
                    left:-80px;
                    font-size:2em;
                    color:#CCC;
                    text-transform: uppercase;
                    -webkit-transform:rotate(270deg);
                    -moz-transform:rotate(270deg);
                    -o-transform: rotate(270deg);

                }
                .about p {
                    display:block;
                    height:175px;
                    position:absolute;
                    left:27px;
                    top:0px;
                    font-size:.95em;
                    margin:0px;
                    border-right: solid 1px #CCC;
                }
            .twitter {
                
            }
            .facebook {
                
            }
            .website {
                
            }
            .linkedin {
                
            }
            .followers {
                position:absolute;
                left:615px;
                bottom:45px;
            }
                .followers h2 {

                }
                .followers ul {

                }
                .followers li {

                }
            .following {
                position:absolute;
                left:615px;
                bottom:25px;
            }
                .following h2{

                }
                .following ul {

                }
                .following li {

                }
		.myprojects {
		    height:0px;
			visibility:hidden;
		}
/*        .myprojects {
            width:91%;
            margin-left:auto;
            margin-right:auto;
            margin-top:20px;
            border-top-style:solid;
            border-top-color:#333;
            border-top-width:1px;
        }
            .myprojects h1 {
                border-style:none;
                margin-top:15px;
                font-size:1.45em;
            }
                .projects {

                }
                    .inprogress_project {

                    }
                        .inprogress_project h1 {

                        }
                        .inprogress_project p {

                        }
                        .moneystuff {

                        }
                            .goal {

                            }
                                .goal h2 {

                                }
                            .amount_raised {

                            }
                                .amount_raised h2 {

                                }
                        .inprogress_project h3 {

                        }
                        .completed_project {

                        }
                            .completed_project h1 {

                            }
                            .completed_project p {

                            }
                            .completed_project h3 {

                            }*/
    .myarticles {
        width:48.2%;
        margin-left:20px;
        top:0px;
        float:left;
    }
        .myarticles h1 {
            border-style:none;
            margin-top:15px;
            font-size:1.45em;
        }
        .myarticles ul {
        list-style-type:none;
        margin-left:0px;
        }
        .articlelist {
            position:relative;
            padding-bottom:10px;
            padding-left:0px;
            border-bottom:dotted 1px #333;
        }
            .articlelist h1 {
                font-size:1.25em;
                border-top: solid 1px #CCC;
                padding-top:20px;
                margin-bottom:10px;
            }
            .article {
                position:relative;
                width:100%;
                height:180px;
            }
            #paginate_top {
                position:absolute;
                right:10px;
                top:-20px;
                font-size:.75em;
            }
            #paginate_bottom {
                position:absolute;
                right:10px;
                bottom:-20px;
                font-size:.75em;
            }
                .previous_page {
                    
                }
                .next_page {
                   margin-left:3px; 
                }

            .articletitle, .articletitle a, .articletitle a:link {
                color:#911C1C;
            }
            .articlelist a:hover {

            }
            .articlelist a:active {

            }
            .articlelist a:visited {

            }
            .articlelist p {
                font-size:.85em;
                margin-left:140px;
            }
            .articlepict {
                width:100px;
                height:100px;
                background-color:#CCC;
                float:left;
                margin-right:5px;
            }
            .articleinfo {
                position:absolute;
                display:block;
                width:100%;
                bottom:10px;
                left:0px;
            }
                .byline {
                    position:absolute;
                    left:0px;
                    top:-5px;
                    visibility:hidden;
                }
                .date {
                width:100px;
                height:30px;
                color:#CCC;
                position:absolute;
                left:75px;
                top:-90px;
                text-transform: uppercase;
                -webkit-transform:rotate(270deg);
                -moz-transform:rotate(270deg);
                -o-transform: rotate(270deg);
                }
                .comments {
                    width:33px;
                    height:33px;
                    position:absolute;
                    background: url('commentbubble.png') no-repeat;
                    top:-160px;
                    right:35px;
                    text-align:center;
                    color:#CCC;
                    padding-top:4px;
                }
                .comments:hover {
                    background: url('commentbubblehover.png');
                }
                .comments a, .comments a:link {
                    color:#666;
                }
        .more {
            border-top:dotted 1px #333;
            width:100%;
            margin-left:auto;
            margin-right:auto;
            padding-top:10px;
            text-align:right;
            margin-top:20px;
        }

#footer1 {
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:97.5%;
    height:20px;
    clear:left;
    text-align:center;
    border-top: solid 1px black;
    background-color:#FFF;
    top:20px;
}
    #footer1 li {
        display:inline;
        margin:20px;
    }
    
/*User List*/
#all_users {
    text-align:center;
    border-bottom:solid 1px #000;
    padding-bottom:10px;
    position:relative;
    top:-10px;
    color:#000;
}
#user_list {
    display: block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    padding:20px;
    margin-top:30px;
    margin-bottom:15px;
}
#user_paginate_top {
    position:absolute;
    right:20px;
    top:80px;
    font-size:.75em;
}
#user_paginate_bottom {
    position:absolute;
    right:10px;
    bottom:30px;
    font-size:.75em;
}
