<div id="footer1">
  <nav class="round">
    <ul>
      <li><%= link_to "About Us", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
	  <% unless signed_in? %>
	  <li><%= link_to "Sign up", signup_path %></li>
	  <% end %>
    </ul>
  </nav>
</div>