<div class="header1">
		<div class="logo">
			<a id="blackandredlargelogo" href="">
				<%= image_tag('pllogoblackandred.png')%></a>
		</div>
		<ul class="social" id="sociallinks">
				<li><a id="twitter" href="https://twitter.com/#!/thePrintless">
					Twitter</a></li>
				<li><a id="fb" href="https://www.facebook.com">
					Facebook</a></li>
		</ul>
</div>

<%= render 'header' %>